---
layout: page
title: "Client Libraries"
---
<div class="container page-content">
  <div class="row">
    <div class="col-sm-12 api-libraries-wrapper">
      <h3>Applications</h3>
      <ul>
        {% for lib in site.data.libraries %}
          {% if lib.type == 'application' %}
            <li><a href="{{ lib.url }}">{{ lib.name }}</a> - {{ lib.description }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <h3>Back-end Libraries</h3>
      <ul>
        {% for lib in site.data.libraries %}
          {% if lib.type == 'backend' %}
            <li><a href="{{ lib.url }}">{{ lib.name }}</a> - {{ lib.description }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <h3>Front-end Libraries</h3>
      <ul>
        {% for lib in site.data.libraries %}
          {% if lib.type == 'frontend' %}
            <li><a href="{{ lib.url }}">{{ lib.name }}</a> - {{ lib.description }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container page-content -->
