<div class="container">
  <div class="row footer">
    <div class="col-sm-8">
      <ul class="list-inline">
        <li><a href="mailto:hello@getblimp.com?subject=FilePreviews.io" class="footer-link">Send us an email</a></li>
        <li><a href="http://www.getblimp.com/privacy" class="footer-link">Privacy policy</a></li>
        <li><a href="http://www.getblimp.com/tos" class="footer-link">Terms of service</a></li>
        <li><a href="https://github.com/GetBlimp/filepreviews.io" class="footer-link">Source on GitHub</a></li>
      </ul>
      <!-- /.list-inline -->
    </div>
    <!-- /.col-sm-8 -->
    <div class="col-sm-4">
      <div class="pull-right">
        Made with love by <a href="http://getblimp.com/"><img src="/img/blimp-logo.png" alt="Blimp"></a>
      </div>
    </div>
    <!-- /.col-sm-4 -->
  </div>
  <!-- /.row -->
</div>
