<header class="full-width header">
  <div class="container">

    <div class="row">
      <div class="col-xs-6">
        <a href="/"><img src="/img/filepreviews-logo.png" alt="FilePreviews"></a>
      </div>
      <!-- /.col-xs-6 -->
      <div class="col-sm-6">
        <ul class="list-inline pull-right">
          <li><a href="/docs/features.html" class="signup-link">Features</a></li>
          <li><a href="/docs//libraries.html" class="signup-link">Libraries</a></li>
          <li><a href="/docs/privacy.html" class="signup-link">Privacy</a></li>
          <li><a href="/docs/" class="signup-link">Docs</a></li>
          <li><a href="https://api.filepreviews.io" class="signin-link">Sign in</a></li>
        </ul>
      </div>
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->

    {% if page.is_home %}
      <div class="row">
        <div class="col-xs-12 home-header-text-wrapper">
          <h1 class="home-header-text">Thumbnails and metadata<br>for almost any kind of file</h1>
          <p class="home-header-subtext">An easy to use API that allows your app to do all sorts<br>of awesome things with files. Server optional.</p>
        </div>
      </div>
      <!-- /.row -->
    {% endif %}

  </div>
  <!-- /.container -->
</header>
<!-- /.full-width.header -->
