<header class="full-width header">
  <div class="container">

    <div class="row">
      <div class="col-xs-6">
        <a href="/"><img src="/img/filepreviews-logo.png" alt="FilePreviews"></a>
      </div>
      <!-- /.col-xs-6 -->
      <div class="col-sm-6">
        <ul class="list-inline pull-right">
          <li style="position:relative; top: 5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-related="blimp" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
          <li><iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffilepreviews.io&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35&amp;appId=688910321181010" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px; width:55px; position:relative; top: 20px;" allowTransparency="true"></iframe></li>
          <li><a href="mailto:hello@getblimp.com?subject=FilePreviews.io" class="signup-link">Contact us</a></li>
        </ul>
      </div>
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->

    {% if page.is_home %}
      <div class="row">
        <div class="col-xs-12 home-header-text-wrapper">
          <h1 class="home-header-text">Thumbnails and metadata<br>for almost any kind of file</h1>
          <p class="home-header-subtext">An easy to use API that allows your app to do all sorts<br>of awesome things with files. Server optional.</p>
        </div>
      </div>
      <!-- /.row -->
    {% endif %}

  </div>
  <!-- /.container -->
</header>
<!-- /.full-width.header -->
