---
layout: page
title: "Formats and features"
---
<div class="container page-content">
  <div class="row">
    <div class="col-sm-12 api-libraries-wrapper">
      <h3>Formats and features</h3><br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Extension</th>
            <th>Description</th>
            <th>Type</th>
            <th>OCR</th>
            <th>Layers</th>
            <th>EXIF</th>
            <th>Multimedia</th>
            <th>Pages</th>
          </tr>
        </thead>
        <tbody>
          {% for format in site.data.formats %}
            <tr>
              <td>{{ format.extension }}</td>
              <td>{{ format.description }}</td>
              <td>{{ format.type }}</td>
              {% for feature in format.features %}
                {% if feature[1] %}
                  <td><span class="glyphicon glyphicon-ok-circle icon-green"></span></td>
                {% else %}
                  <td><span class="glyphicon glyphicon-ban-circle icon-red"></span></td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container page-content -->
